[Unit]
	Description=SML parser
	After=multi-user.target

[Service]
	Type=idle
	ExecStart=/usr/bin/python <PATH>/readSML.py
	Restart=on-failure
	RestartSec=1m

[Install]
	WantedBy=multi-user.target
